In [1]:


# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import csv
import datetime as dt     
from sqlalchemy import create_engine
date = dt.date.today()

In [2]:
# Files to Load
#color_data_to_load = "lego-database/colors.csv"
theme_data_to_load = "lego-database/themes.csv"
sets_data_to_load = "lego-database/sets.csv"
# Read Colors and Theme Data Files and store into Pandas Data Frames
#colors_data = pd.read_csv(color_data_to_load)
themes_data = pd.read_csv(theme_data_to_load)
sets_data = pd.read_csv(sets_data_to_load)

#colors_data
sets_data.head()

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [3]:
themes_data.head()

    id                  name  parent_id
0   18             Star Wars        1.0
1  118           Speed Racer      112.0
2  135          Life On Mars      126.0
3  160  Star Wars Clone Wars      159.0
4  161   Star Wars Episode 2      159.0

In [4]:
#themes_data['id'].isin(sets_data['theme_id'])
comb = pd.DataFrame(sets_data['theme_id'].isin(themes_data['id']))
comb.head()

   theme_id
0     False
1     False
2     False
3     False
4     False

In [19]:
comb = sets_data[sets_data['theme_id'].isin(themes_data['id'])]
comb.rename(columns={'name': 'set name'}, inplace=True)
comb = comb.merge(themes_data.set_index('id')['name'], 'left', left_on='theme_id', right_index=True)
comb.groupby('name').count()

                              set_num  set name  year  theme_id  num_parts
name
Angry Birds                         6         6     6         6          6
Avengers                           27        27    27        27         27
Batman                             93        93    93        93         93
Cars                               27        27    27        27         27
Disney                              1         1     1         1          1
Disney Princess                    27        27    27        27         27
Ghostbusters                        1         1     1         1          1
Guardians of the Galaxy             9         9     9         9          9
Harry Potter                       26        26    26        26         26
Indiana Jones                       1         1     1         1          1
Iron Man                            5         5     5         5          5
Jurassic Park III                   2         2     2         2          2
Jurassic World                      7         7     7         7          7
Justice League                     11        11    11        11         11
Kingdom of the Crystal Skull        8         8     8         8          8
Last Crusade                        3         3     3         3          3
Life On Mars                       26        26    26        26         26
Marvel                             15        15    15        15         15
Pirates of the Caribbean           17        17    17        17         17
Prince of Persia                    6         6     6         6          6
Raiders of the Lost Ark             5         5     5         5          5
Scooby-Doo                          6         6     6         6          6
Speed Racer                         4         4     4         4          4
Spider-Man                         32        32    32        32         32
Spider-Man 2                        2         2     2         2          2
SpongeBob SquarePants              14        14    14        14         14
Star Wars                         106       106   106       106        106
Star Wars Clone Wars               68        68    68        68         68
Star Wars Episode 1                51        51    51        51         51
Star Wars Episode 2                28        28    28        28         28
Star Wars Episode 3                42        42    42        42         42
Star Wars Episode 4/5/6           145       145   145       145        145
Star Wars Episode 7                19        19    19        19         19
Star Wars Episode 8                 1         1     1         1          1
Star Wars Expanded Universe         3         3     3         3          3
Star Wars Other                    24        24    24        24         24
Star Wars Rebels                   25        25    25        25         25
Star Wars Rogue One                14        14    14        14         14
Superman                            9         9     9         9          9
Teenage Mutant Ninja Turtles       21        21    21        21         21
Temple of Doom                      2         2     2         2          2
The Hobbit                          2         2     2         2          2
The LEGO Movie                     29        29    29        29         29
The LEGO Movie Series              19        19    19        19         19
The Lord of the Rings               4         4     4         4          4
The Simpsons                       38        38    38        38         38
Toy Story                          15        15    15        15         15
X-Men                               3         3     3         3          3

In [ ]:
#### Combine the data into a single dataset
lego_data_complete = pd.merge(sets_data, themes_data, how="left", on=["theme_id", "id"])
lego_df = pd.DataFrame(lego_data_complete)

lego_df

In [ ]:
#drop NaN values
lego_df.dropna(inplace=True)

In [ ]:
lego_df

In [ ]:
#print data table with summary of legos
total_colors = lego_df['name_x'].count()
total_themes =lego_df['name_y'].count()
#total_budget = school_data['budget'].sum()
#average_math_score = round(student_data['math_score'].mean())
#average_reading_score = round(student_data['reading_score'].mean())
#overall_average_score = round((average_math_score + average_reading_score)/2)
#passing_math = round(school_data_complete.query('math_score >70')["School ID"].count()/ total_students*100)
passing_reading = round(school_data_complete.query('reading_score >70')["School ID"].count()/ total_students*100)
school_dicts = [{"Total Schools": (total_schools),"Total Students": (total_students), 
                 "Total Budget": (total_budget), "Average Math Score": (average_math_score),
                 "Average Reading Score": (average_reading_score), "Overall Average Score": (overall_average_score),
                "% of Students Passing Math": (passing_math), "% of Students Passing Reading ": (passing_reading)}]
district_summary_df = pd.DataFrame(school_dicts)
district_summary_df